@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("/assets/styles/card_section_style.css");
@import url("/assets/styles/form_styles.css");
*{
	margin: 0;
	padding: 0;
	font-family: 'PT Serif Caption', serif;
}
body{
		background:#111113;
}
header {
	align-items: center;
	background:#111113;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
  height: 25px;
  padding: 20px 90px;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  position: fixed;
  z-index: 999;

}
header nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 15px;
}
ul li a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}
ul li a:hover{
	font-size: 17px;
	text-decoration: line-through;
	text-decoration-color: #111113;
	text-decoration-thickness: 5px;
	transition: all 0.5s;
}
.bienvenida{
	background-image: url("../imgs/background1.svg");
	background-repeat: no-repeat;
	background-position: 0px 65px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 100px;
}

h2,h1{
	color: #ffffff;
	font-size: 4.5rem;
	word-spacing: 20px;
}
.text{
	color: #ffffff;
	font-size: 2.5rem;
}
section.inner h3{
	text-align: center;
	text-transform: uppercase;
	padding: 1.2em;
	font-family: 'Roboto', sans-serif;
}
h4{
		font-size: 1.2em;
		font-weight: lighter;
}
.blue {
	color:#3776b8;
}

@keyframes example {
  0%{background-color:#3776b8;}
  50% {background-color:transparent;}
  100% {background-color:#3776b8;}
}

.btn {
	text-align:center;
	background-color: transparent;
	border:solid 1px #3776b8;
    box-shadow: 0px 0px 24px 0px rgba(55, 117, 184, 0.171);
	color: #ffffff;
	font-size: 18px;
	width: 140px;
	height: 40px;
	padding: 5px;
	border-radius:10px 0px 10px 0px;
	border: solid 1.5px;
	border-color: #3776b8;
	cursor: pointer;
	animation: example;
	animation-duration: 2s;
	animation-iteration-count: 3;
	animation-timing-function: linear;
}
.btn:hover{
    background-color: #3776b8;
    transition: all 0.5s;
}
.btn a{
	box-sizing: border-box;
	color: #ffffff;
	font-size:1rem ;
	text-decoration: none;
} 
.btn-bienvenida{
	align-self: flex-start;
	position: relative;
	top: 5%;
}
.btn-center {
	align-self: center;
}


.container{
	background: radial-gradient(circle at top, #3776b838 , #11111342);
	border: solid #3776b8 1px;
	border-radius:10px 0px 10px 0px;
	box-shadow: 3px 6px 24px 10px rgba(55,118,184,0.48);
	-webkit-box-shadow: 3px 6px 24px 10px rgba(55,118,184,0.48);
	-moz-box-shadow: 3px 6px 24px 10px rgba(55,118,184,0.48);
	padding: 20px;
	color: whitesmoke;
	margin: 0 auto;
	margin-top: 20px;
	width: 70%;
}

.inner{
	padding: 30px;
}

.inner p {
	text-align: justify;
	font-size: 1em;
}

#about div {
	
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 400px;
}

section.cards{
	margin-top: 25px;
}
.cards{
	display: flex;
	gap: 10px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	background: #ffffff1f;
	/*border: solid 1px whitesmoke;*/
	border-radius:10px 0px 10px 0px;
}
.card-header{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}
.card-header img{
	width: 284px;
    height: 187px;
}
.card-header a{
	position: absolute;
	background-image: linear-gradient(to right ,#09097970,#3776b8, #00d4ffa3);
	bottom: 0px;
	align-self: center;
	width: 93%;
	border-radius: 0px;
}
.card-footer{
	display: flex;
}
.card-footer-imgs img {
	height: 20px;
	width: 20px;
}
